

@media (max-width: 800px) {
    div.Bloco > a > div {
        font-size: 2vw;
    }
}

@media (min-width: 801px) {
    div.Bloco > a > div {
        font-size: 20px;
    }
}


#conteudo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.Bloco {
    margin: 10px 10px;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: fit-content;
    transition: all 0.1s linear;
}

div#Bloco1 {
    background-color: rgb(92, 92, 92);
}

div#Bloco2 {
    background-color: rgb(54, 120, 173);
}

div#Bloco3 {
    background-color: rgb(72, 134, 13);
}

div.Bloco img {
    display: flex;
    margin: 0;
    width: 100%;
    max-width: 1000px;
    object-fit: cover;
}

div.Bloco > a > div {
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    display: flex;
}

div.Bloco > a {
    text-decoration: none;
    color: white;
    height: 100%;
}

div.Bloco:hover {
    transform: scale(1.05);
    
}